{% if searchresults.DTST_LOCATION %}
	<div>{{ searchresults.DTST_LOCATION }}</div>
{% elseif topicrow.DTST_LOCATION %}
	<div>{{ topicrow.DTST_LOCATION }}</div>
{% endif %}

{% if searchresults.DTST_LOC_CUSTOM %}
	<div>{{ searchresults.DTST_LOC_CUSTOM }}</div>
{% elseif topicrow.DTST_LOC_CUSTOM %}
	<div>{{ topicrow.DTST_LOC_CUSTOM }}</div>
{% endif %}

{% if searchresults.DTST_HOST %}
	<div>{{ searchresults.DTST_HOST }}</div>
{% elseif topicrow.DTST_HOST %}
	<div>{{ topicrow.DTST_HOST }}</div>
{% endif %}

{% if searchresults.DTST_DATE %}
	<div>{{ searchresults.DTST_DATE }}</div>
{% elseif topicrow.DTST_DATE %}
	<div>{{ topicrow.DTST_DATE }}</div>
{% endif %}

{% if searchresults.DTST_AGE_MIN %}
	<div>{{ searchresults.DTST_AGE_MIN }}</div>
{% elseif topicrow.DTST_AGE_MIN %}
	<div>{{ topicrow.DTST_AGE_MIN }}</div>
{% endif %}

