{# Include our ACP - CSS #}
{% if not definition.INCLUDED_DTSTACPCSS %}
	{% INCLUDECSS '@phpbbstudio_dtst/dtst_acp.css' %}
	{% DEFINE INCLUDED_DTSTACPCSS = true %}
{% endif %}

{% if not INCLUDED_ACPDTSTCOLLAPSIBLE_CSS %}
	{% INCLUDECSS '@phpbbstudio_dtst/acp_dtst_collapsible.css' %}
	{% set INCLUDED_ACPDTSTCOLLAPSIBLE_CSS = true %}
{% endif %}

{% if not definition.INCLUDED_JQUERYCOLLAPSIBLEJS %}
	{% INCLUDEJS '@phpbbstudio_dtst/jquery.collapsible.min.js' %}
	{% DEFINE INCLUDED_JQUERYCOLLAPSIBLEJS = true %}
{% endif %}

{% if not definition.INCLUDED_ACPDTSTCOLLAPSIBLEJS %}
	{% INCLUDEJS '@phpbbstudio_dtst/acp_dtst_collapsible.js' %}
	{% DEFINE INCLUDED_ACPDTSTCOLLAPSIBLEJS = true %}
{% endif %}

{% if not definition.INCLUDED_ACPDTSTUPDATEJS %}
	{% INCLUDEJS '@phpbbstudio_dtst/acp_dtst_update.js' %}
	{% DEFINE INCLUDED_ACPDTSTUPDATEJS = true %}
{% endif %}

{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('ACP_DTST_TITLE') }}</h1>

{% if S_ERRORS %}
{# Non invasive error reporting #}
<fieldset>
	<legend>{{ lang('ACP_DTST_ERRORS') }}</legend>
	<p class="error">
		{{ ERRORS_MSG }}
	</p>
</fieldset>
{% endif %}

<script>
	var form_name = 'phpbbstudio_dtst_privmsg';
	var load_draft = false;
	var upload = false;
	var imageTag = false;
	var text_name = 'dtst_pm_message';
</script>

<div id="firstCollapseMenu" class="collapse-container">

	{% INCLUDE 'acp_dtst_tokens_def.html' %}

	{% if S_DTST_PM_PREVIEW %}
		{% INCLUDE 'acp_dtst_pm_preview.html' %}
	{% endif %}

	<h6><span class="arrow-r"></span>{{ lang('ACP_DTST_PM_INPUT') }}</h6>
	<form id="phpbbstudio_dtst_privmsg" method="post" action="{U_ACTION}">
		<div>
			<fieldset class="dtst-acp-outer">
				<fieldset class="dtst-acp-middle">
					<fieldset class="dtst-acp-inner">
						<legend>{{ lang('ACP_PRIVMSG_MANAGEMENT') }}</legend>
						<div class="dtst-acp-rules">{{ lang('ACP_DTST_PM_SETTINGS_EXPLAIN') }}</div>
						{# This input provides the URL for the AJAX call #}
						<input type="hidden" id="dtst_pm_update" data-url="{{ U_DTST_UPDATE }}">
						<dl>
							<dt>
								<label for="dtst_pm_isocode">{{ lang('ACP_DTST_PM_LANG') }}{{ lang('COLON') }}</label>
							</dt>
							<div class="dtst-acp-select">
								<dd>
									<select name="dtst_pm_isocode" id="dtst_pm_isocode" title="{{ lang('ACP_DTST_PM_LANG') }}">{{ S_DTST_PM_LANGS }}</select>
								</dd>
							</div>
						</dl>

						<dl>
							<dt>
								<label for="dtst_pm_status">{{ lang('ACP_DTST_PM_MODE') }}{{ lang('COLON') }}</label>
							</dt>
							<div class="dtst-acp-select">
								<dd>
									<select name="dtst_pm_status" id="dtst_pm_status" title="{{ lang('ACP_DTST_PM_MODE') }}">{{ S_DTST_PM_MODE }}</select>
								</dd>
							</div>
						</dl>
					</fieldset>

					<fieldset class="dtst-acp-inner">
						<legend>{{ lang('ACP_DTST_PM_INPUT') }}</legend>

						<div class="dtst-acp-rules">{{ lang('ACP_DTST_PM_EMOJIS') }}</div>

						<dl class="responsive-columns">
							<dt>
								<label for="dtst_pm_title">{{ lang('SUBJECT') }}{{ lang('COLON') }}</label>
							</dt>
							<dd>
								<input name="dtst_pm_title" id="dtst_pm_title" type="text" size="50" maxlength="255" value="{{ DTST_PM_TITLE }}" placeholder="{{ lang('ACP_DTST_PM_TITLE_HOLDER') }}" />
							</dd>
						</dl>

						{% INCLUDE 'acp_posting_buttons.html' %}
						<dl class="responsive-columns">
							<dt id="color_palette_placeholder" data-orientation="v" data-height="12" data-width="15" data-bbcode="true">
							</dt>

							<dd>
								<textarea id="dtst_pm_message" name="dtst_pm_message" rows="23" cols="80" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" data-bbcode="true" placeholder="{{ lang('ACP_DTST_PM_MESSAGE_HOLDER') }}" class="full">{{ DTST_PM_MESSAGE }}</textarea>
							</dd>
						</dl>

						<div id="smiley-box" class="smiley-box dtst-acp-center">
							{% if S_SMILIES_ALLOWED and loops.smiley|length %}
								<strong>{{ lang('SMILIES') }}{{ lang('COLON') }}</strong>
								{% for smiley in loops.smiley %}
									<a href="#" onclick="insert_text('{{ smiley.A_SMILEY_CODE }}', true); return false;"><img src="{{ smiley.SMILEY_IMG }}" width="{{ smiley.SMILEY_WIDTH }}" height="{{ smiley.SMILEY_HEIGHT }}" alt="{{ smiley.SMILEY_CODE }}" title="{{ smiley.SMILEY_DESC }}" /></a>
								{% endfor %}
							{% endif %}
							{% if S_SMILIES_ALLOWED and S_SHOW_SMILEY_LINK %}
								<a href="{{ U_MORE_SMILIES }}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{{ lang('MORE_SMILIES') }}</a>
							{% endif %}
						</div>

						<div class="dtst-acp-center">
							<strong>{{ lang('OPTIONS') }}{{ lang('COLON') }} </strong>{{ BBCODE_STATUS }} :: {{ IMG_STATUS }} :: {{ FLASH_STATUS }} :: {{ URL_STATUS }} :: {{ SMILIES_STATUS }}
						</div>
					</fieldset>
				</fieldset>
			</fieldset>

			<fieldset class="dtst-acp-submit">
				<fieldset class="submit-buttons">
					<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
					<input class="button1" type="submit" id="preview" name="preview" value="{{ lang('PREVIEW') }}" />&nbsp;
					<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
				</fieldset>
				{{ S_FORM_TOKEN }}
			</fieldset>
		</div>
	</form>

	<noscript>
		<style>
			.collapse-container > :nth-child(even) {
				display: block;
			}
		</style>
	</noscript>
</div>

{% INCLUDE 'overall_footer.html' %}
