{# Include our ACP - CSS #}
{% if not definition.INCLUDED_DTSTACPCSS %}
	{% INCLUDECSS '@phpbbstudio_dtst/dtst_acp.css' %}
	{% DEFINE INCLUDED_DTSTACPCSS = true %}
{% endif %}

{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('ACP_DTST_TITLE') }}</h1>

{% if S_ERRORS %}
{# Non invasive error reporting #}
<fieldset>
	<legend>{{ lang('ACP_DTST_ERRORS') }}</legend>
	<p class="error">
		{{ ERRORS_MSG }}
	</p>
</fieldset>
{% endif %}

<fieldset class="dtst-acp-outer">
	<fieldset class="dtst-acp-middle">

		<div class="dtst-acp-rules">{{ lang('ACP_LOCATIONS_MANAGEMENT') }}</div>

		<fieldset class="dtst-acp-inner">
			<legend>{{ lang('ACP_ADD_PRESET_LOCATION') }}</legend>
			<form id="phpbbstudio_dtst_add" name="phpbbstudio_dtst_add" method="post" action="{{ U_ACTION_ADD }}">
				<dl>
					<dt><label for="forum_dtst_preset_location_add">{{ lang('ACP_DTST_LOCATION') ~ lang('COLON') }}</label><br>{{ lang('ACP_ADD_PRESET_LOCATION_EXPLAIN') }}</dt>
					<dd><input id="forum_dtst_preset_location_add" class="text medium" maxlength="255" name="forum_dtst_preset_location_add" type="text"></dd>
				</dl>

				<p class="quick">
					<input class="button1" name="forum_dtst_preset_location_addition" value="{{ lang('SUBMIT') }}" type="submit">
				</p>
				{{ S_FORM_TOKEN }}
			</form>
		</fieldset>

		<fieldset class="dtst-acp-inner">
			<legend>{{ lang('ACP_REMOVE_PRESET_LOCATIONS') }}</legend>
			<form id="phpbbstudio_dtst_remove_all" name="phpbbstudio_dtst_remove_all" method="post" action="{{ U_ACTION_REMOVE_ALL }}" data-ajax="true" data-refresh="true">
				<dl>
					<dt><label for="forum_dtst_preset_location_rem_all">{{ lang('ACP_REMOVE_PRESET_LOCATION_ALL') ~ lang('COLON') }}</label><br>{{ lang('ACP_REMOVE_PRESET_LOCATIONS_EXPLAIN') }}</dt>
					<dd>
						<input class="button1" id="forum_dtst_preset_location_rem_all" name="forum_dtst_preset_location_rem_all" value="{{ lang('RUN') }}" type="submit">
					</dd>
				</dl>
			</form>
		</fieldset>

		<fieldset class="dtst-acp-inner">
			<legend>{{ lang('ACP_REMOVE_PRESET_LOCATION') }}</legend>
			<form id="phpbbstudio_dtst_remove" name="phpbbstudio_dtst_remove" method="post" action="{{ U_ACTION_REMOVE }}" data-ajax="true" data-refresh="true">
				<dl>
					<dt><label for="forum_dtst_preset_location_rem">{{ lang('ACP_DTST_LOCATION') ~ lang('COLON') }}</label><br>{{ lang('ACP_REMOVE_PRESET_LOCATION_EXPLAIN') }}</dt>
					<dd>
						<div class="dtst-acp-select">
							<select name="forum_dtst_preset_location_rem" id="forum_dtst_preset_location_rem">{{ DTST_LOCATION }}</select>
						</div>
					</dd>
				</dl>

				<p class="quick">
					<input class="button1" name="forum_dtst_preset_location_remove" value="{{ lang('SUBMIT') }}" type="submit">
				</p>
			</form>
		</fieldset>
	</fieldset>
</fieldset>

{% INCLUDE 'overall_footer.html' %}
