/* CSS Document */

.dtst-acp-select select {
	background: transparent;
	width: auto;
	padding: 5px;
	font-size: 0.9em;
	line-height: inherit;
	border: 0;
	border-radius: 0;
	height: 26px;
	-webkit-appearance: none;
}

.dtst-acp-inner {
}

.dtst-acp-middle {
	background-color: #F3F3F3; /* light grey */
}

.dtst-acp-outer {
	background-image: url("../images/dtst_acp_gfx.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

.dtst-acp-submit {
}

/* That's the native phpBB prosilver class "rules" slightly modified */
.dtst-acp-rules {
	margin-bottom: 10px;
	font-size: 0.9em;
	padding: 5px 10px;
	border-radius: 7px;
	background-color: #d6e9cf; /* light green */
	color: #125814; /* dark green */
}

/* Better alignment than the core phpbb */
fieldset dd {
	padding-top: 3px;
	margin-top: 2px;
}

/* Rounded corners against the core phpbb */
fieldset {
	padding: 5px 10px;
	border-radius: 7px;
}

/* Rounded corners against the core phpbb */
input.button1, input.button2 {
	border-radius: 4px;
}

dt#color_palette_placeholder {
	width: 90px;
}

dt#color_palette_placeholder + dd {
	margin-left: 90px;
}

/* PM preview start */
.dtst-acp-preview-title {
	color: #115098;
	font-size: 1.5em;
}

.dtst-acp-preview-author {
	color: #333333;
	font-size: 0.85em;
}

.dtst-acp-preview-content {
	font-size: 1.1em;
}

.dtst-acp-preview-sig {
	font-size: 11px;
	line-height: 16px;
	border-top: 1px solid #dedede;
	clear: left;
	overflow: hidden;
	width: 100%;
	margin-top: 16px;
	padding-top: 2px;
}

.dtst-acp-preview-sig li {
	list-style-type: inherit;
}

.dtst-acp-preview-sig ul,
.dtst-acp-preview-sig ol {
	margin: 10px 0 10px 33px;
}

.dtst-acp-preview-sig a,
.dtst-acp-preview-sig a:hover {
	text-decoration: underline;
	background-color: transparent;
	border: none;
}
/* PM preview end */

.dtst-acp-center {
	text-align: center;
}

.dtst-acp-fa-green {
	color: green;
	text-shadow: 3px 3px 1px #cccccc;
	font-size: 1.3em;
}

.dtst-acp-fa-red {
	color: red;
	text-shadow: 3px 3px 1px #cccccc;
	font-size: 1.3em;
}

/****************** profile in ACP ******/
.dtst-acp-action label { cursor: pointer; }
.dtst-acp-action input { display: none; }
.dtst-acp-action input:checked + i.fa-plus-square { color: limegreen; }
.dtst-acp-action input:checked + i.fa-minus-square { color: red; }

.dtst-acp-small {
	width: 50px;
}
