ul.dtst-user-list {
	list-style-type: none;
}

li.dtst-user {
	display: flex;
	flex-flow: row nowrap;
	border-top: 1px solid #404040;
}

li.dtst-user:last-child {
	border-bottom: 1px solid #404040;
}

div.dtst-user-info {
	flex: 0 33%;
	padding: 2px 5px;
}

div.dtst-user-info:not(:last-child) {
	border-right: 1px solid #404040;
}

.dtst-user-actions {
	text-align: center;
}

.dtst-user-actions label {
	display: inline-block;
	margin: 0;
}

.dtst-user-actions textarea {
	width: 98%;
}

/* Errors */
.dtst-user-error textarea {
	outline-offset: -2px;
	outline: #D31141 auto 5px;
}

.dtst-user-error .pagination {
	font-weight: bold;
}

.dtst-user-error .dtst-user-reason-length {
	color: #D31141;
}

.alert_text {
	max-height: 460px;
	overflow: auto;
}
