/***************************************
* This section is for miniprofile view *
***************************************/
.dtst-rank-button-miniprofile {
	font-size: 12px;
	font-weight: 600;
	font-family: "Open Sans", "Droid Sans", Verdana, Arial, Helvetica;
	text-align: center;
	white-space: nowrap;
	margin: 2px 0;
	box-shadow: 1px 2px 3px;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.dtst-button {
	margin: 2px 0 2px 2px;
	box-shadow: 1px 2px 3px;
}
