/***********************************
* This section is for profile view *
***********************************/

.dtst-div-1 {
	margin: 2px auto;
	text-align: center;
	width: 120px;
	height: 120px;
	border-radius: 100%;
	background-color: #80BF00;
}

.dtst-div-2 {
	position: relative;
	top: 10px;
	left: 10px;
	text-align: center;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: #ECF3F7;
}

.dtst-span-1 {
	top: 40px;
	position: relative;
	font-size: 16px;
	font-weight: bold;
}

.dtst-rank-button-profile {
	font-size: 12px;
	font-weight: 600;
	font-family: "Open Sans", "Droid Sans", Verdana, Arial, Helvetica;
	text-align: center;
	white-space: nowrap;
	margin: 2px 0;
	box-shadow: 1px 2px 3px;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

/**********************************************
* This section is a copy of parts of dtst.css *
**********************************************/
.dtst-centered {
	text-align: center;
}

.dtst-button {
	margin: 2px 0 2px 2px;
	box-shadow: 1px 2px 3px;
}

.dtst-button:hover {
	/* Resets */
	background-image: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	filter: none;
	text-shadow: none;
}

.dtst-button-green:hover {
	background-color: #629163;
	border-color: #2a522a;
	color: #fefefe;
}

.dtst-button-green:hover > i {
	color: #2a522a !important;
}
