{% if S_DTST_NO_AJAX %}
	{% include 'overall_header.html' %}
	{% INCLUDEJS '@phpbbstudio_dtst/js/dtst_participate.js' %}
{% endif %}

<form id="dtst_reason_form" action="{{ S_CONFIRM_ACTION }}" method="post">
	<h3>{{ lang('CONFIRM') }}</h3>
	<p>{{ MESSAGE_TEXT }}</p>

	{% if not S_DTST_NO_REASON %}
		<label for="dtst_reason">
			<strong>{{ lang('DTST_REASON') ~ lang('COLON') }}</strong>
			<br><textarea id="dtst_reason" name="dtst_reason" class="inputbox" maxlength="255" rows="3"></textarea>
			<span class="pagination"></span>
		</label>
	{% endif %}

	<fieldset class="submit-buttons">
		{{ S_FORM_TOKEN }}
		<input type="{% if S_DTST_NO_AJAX %}submit{% else %}button{% endif %}" name="confirm" value="{{ lang('SUBMIT') }}" class="button1" />&nbsp;
		<input type="{% if S_DTST_NO_AJAX %}submit{% else %}button{% endif %}" name="cancel" value="{{ lang('CANCEL') }}" class="button2" />
	</fieldset>
</form>

{% if S_DTST_NO_AJAX %}{% include 'overall_footer.html' %}{% endif %}
