{% if (DTST_LOCATION) || (DTST_HOST) || (DTST_DATE) %}
	{% if not INCLUDED_DTST_CSS %}
		{% INCLUDECSS '@phpbbstudio_dtst/dtst.css' %}
		{% set INCLUDED_DTST_CSS = true %}
	{% endif %}

	<div class="content dtst-div-1">
		{{ lang('DTST_LOCATION') ~ lang('COLON') }}&nbsp;
		{% if DTST_LOCATION %}
			<span class="dtst-span-1">{{ DTST_LOCATION }}</span>
		{% endif %}
		<br>
		{{ lang('DTST_HOST') ~ lang('COLON') }}&nbsp;
		{% if DTST_HOST %}
			<span class="dtst-span-1">{{ DTST_HOST }}</span>
		{% endif %}
		<br>
		{{ lang('DTST_DATE') ~ lang('COLON') }}&nbsp;
		{% if DTST_DATE %}
			<span class="dtst-span-1">
				{# Watch out for null values #}
				{% if DTST_DATE is not empty %}
					{{ DTST_DATE|date('d-m-Y') }}
				{% endif %}
			</span>
		{% endif %}
		<br>
	</div>
{% endif %}
