{# Only if the user is authed and we are in the right place show the template #}
{% if S_DTST_TOPIC and S_DTST_TOPIC_PERMS %}

	{# Include DTST - CSS #}
	{% if not definition.INCLUDED_DTSTCSS %}
		{% INCLUDECSS '@phpbbstudio_dtst/dtst.css' %}
		{% DEFINE INCLUDED_DTSTCSS = true %}
	{% endif %}

	{# Include Datepicker - CSS #}
	{% if not definition.INCLUDED_DATEPICKERMINCSS %}
		{% INCLUDECSS '@phpbbstudio_dtst/datepicker.min.css' %}
		{% DEFINE INCLUDED_DATEPICKERMINCSS = true %}
	{% endif %}

	{# Include Datepicker - Javascript: https://github.com/fengyuanchen/datepicker #}
	{% if not definition.INCLUDED_DATEPICKERMINJS %}
		{% INCLUDEJS '@phpbbstudio_dtst/js/datepicker.min.js' %}
		{% DEFINE INCLUDED_DATEPICKERMINJS = true %}
	{% endif %}

	{# Initiate jQuery Datepicker #}
	{% INCLUDEJS '@phpbbstudio_dtst/js/dtst_date.js' %}
	<fieldset class="dtst-fieldset-1">
	<legend>{{ lang('DTST_LEGEND_1') }}</legend>
		<dl>
			<dt><label for="dtst_location">{{ lang('DTST_LOCATION') ~ lang('COLON') }}</label></dt>
			<dd>
				<select name="dtst_location" id="dtst_location" tabindex="1" title="{{ lang('DTST_LOCATION_EXPLAIN') }}" >{{ DTST_LOCATION }}</select>
			</dd>
		</dl>

		<dl>
			<dt><label for="dtst_loc_custom">{{ lang('DTST_LOC_CUSTOM') ~ lang('COLON') }}</label></dt>
			<dd><input name="dtst_loc_custom" id="dtst_loc_custom" class="inputbox autowidth" tabindex="2" type="text" size="45" maxlength="255" value="{{ DTST_LOC_CUSTOM }}" placeholder="{{ DTST_LOC_CUSTOM_HOLDER }}" title="{{ lang('DTST_LOC_CUSTOM_HOLDER') }}" /></dd>
		</dl>

		<dl>
			<dt><label for="dtst_host">{{ lang('DTST_HOST') ~ lang('COLON') }}</label></dt>
			<dd><input name="dtst_host" id="dtst_host" type="text" class="inputbox autowidth" tabindex="3" size="45" maxlength="255" value="{{ DTST_HOST }}" placeholder="{{ DTST_HOST_HOLDER }}" title="{{ lang('DTST_HOST_EXPLAIN') }}" /></dd>
		</dl>

		<dl>
			<dt><label for="dtst_date">{{ lang('DTST_DATE') ~ lang('COLON') }}</label></dt>

			{# Extra inputs are disallowed here for the sake of Date validation #}
			<dd><input name="dtst_date" id="dtst_date" type="text" class="inputbox autowidth" tabindex="4" value="{{ DTST_DATE }}" readonly="readonly" title="{{ lang('DTST_DATE_EXPLAIN') }}"{% if S_DTST_EVENT_ENDED %} data-dtst-date-disabled="true"{% endif %}/>{% if not S_DTST_EVENT_ENDED %}<button id="dtst_date_reset" {% if DTST_DATE is empty %}class="button dtst-main-date-reset" title="{{ lang('DTST_DATE_EXPLAIN') }}"{% else %}class="button" title="{{ lang('RESET') }}"{% endif %}><i class="fa {% if DTST_DATE %}fa-refresh{% else %}fa-calendar-plus-o{% endif %} fa-fw"></i></button>{% endif %}</dd>
		</dl>

		<dl>
			<dt><label for="dtst_event_type">{{ lang('DTST_EVENT_TYPE') ~ lang('COLON') }}</label></dt>
			<dd>
				<select name="dtst_event_type" id="dtst_event_type" tabindex="5" title="{{ lang('DTST_EVENT_TYPE_EXPLAIN') }}" >{{ DTST_EVENT_TYPE }}</select>
			</dd>
		</dl>

		<dl>
			<dt><label for="dtst_age_min">{{ lang('DTST_AGE_MIN') ~ lang('COLON') }}</label></dt>
			<dd><input type="number" class="inputbox autowidth" min="0" max="99" maxlength="2" pattern="[0-9]{{ '{' }}2{{ '}' }}" name="dtst_age_min" id="dtst_age_min" tabindex="6" size="2" value="{{ DTST_AGE_MIN }}" title="{{ lang('DTST_AGE_RANGE_ZERO') }}" /></dd>
		</dl>

		<dl>
			<dt><label for="dtst_age_max">{{ lang('DTST_AGE_MAX') ~ lang('COLON') }}</label></dt>
			<dd><input type="number" class="inputbox autowidth" min="0" max="99" maxlength="2" pattern="[0-9]{{ '{' }}2{{ '}' }}" name="dtst_age_max" id="dtst_age_max" tabindex="7" size="2" value="{{ DTST_AGE_MAX }}" title="{{ lang('DTST_AGE_RANGE_ZERO') }}" /></dd>
		</dl>

		<dl>
			<dt><label for="dtst_participants">{{ lang('DTST_PARTICIPANTS') ~ lang('COLON') }}</label></dt>
			<dd><input type="number" class="inputbox autowidth" min="0" max="999" maxlength="3" pattern="[0-9]{{ '{' }}3{{ '}' }}" name="dtst_participants" id="dtst_participants" tabindex="8" size="8" value="{{ DTST_PARTICIPANTS }}" title="{{ lang('DTST_PARTICIPANTS_ZERO') }}" /></dd>
		</dl>
	</fieldset>
{% endif %}
